.password-toggle-button{
    position: absolute;
    right: 10px;
    width: 5.5%;
    top: 30px;
    height: 40px;
    cursor: pointer;
    opacity: 0.6;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.password-strength-indicator{

}