<ion-menu *ngIf="activePage !== 'IntroPage' && activePage !== 'WalkthroughPage'"
	id="main-menu"	
	[content]="content">

  <ion-content [colorLuminance]="{
		color: color,
		percent: pages.indexOf(pages[pages.length -1])*3,
		rgbHex: true
	}">
    <ion-list class="menu">
      <div *ngFor="let page of pages; let i= index;"
        menuClose  
				(click)="page.component && openPage(page);"
				class="item"
				[ngClass]="{
					'profile-item': page.name === 'ProfilePage'
				}"
				[ngStyle]="page.name === activePage && {'background-color': activeItemColor}">
				
				<ion-icon [name]="page.icon"></ion-icon>

				<span>{{page.title}}</span>
			</div>

			<div class="settings-item">
				<div menuClose  
					(click)="openPage(settingsPage);"
					class="item"
					[ngStyle]="settingsPage.name === activePage && {'background-color': activeItemColor}">
					
					<ion-icon [name]="settingsPage.icon"></ion-icon>
	
					<span>{{settingsPage.title}}</span>
				</div>
			</div>
		</ion-list>		
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content
	[root]="rootPage"  
	swipeBackEnabled="true"
	[ngClass]="{
		'inner-page': activePage !== 'IntroPage' && activePage !== 'WalkthroughPage'
	}">
</ion-nav>