<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cambiar mi contraseña</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <form class="body custom-form" [formGroup]="form">
      <ion-item>
        <ion-label floating>Contraseña actual</ion-label>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
        <ion-label class="error"
          *ngIf="
            (form.controls.oldPassword.touched || saveRequest) &&
            form.controls.oldPassword.errors &&	
            form.controls.oldPassword.errors.required
          ">
          Debes completar tu contraseña actual
        </ion-label>
      </ion-item>

      <ion-row>
        <p class="psw-info">
          Tu contraseña debe ser de mínimo 8 caracteres, incluyendo al menos una letra minúscula, una mayúscula, un caracter especial y un número.
        </p>
      </ion-row>

      <ion-item>
        <ion-label floating>Nueva contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-label class="error"
          *ngIf="
            (form.controls.password.touched || saveRequest) &&
            !form.controls.password.valid
          ">
          Debes ingresar una contraseña válida.
        </ion-label>
      </ion-item>
					
      <ion-item>
        <ion-label floating>Repetí tu nueva contraseña</ion-label>
        <ion-input type="password" formControlName="rpassword"></ion-input>
        <ion-label class="error"
          *ngIf="
            (form.controls.rpassword.touched || saveRequest) &&
            form.controls.rpassword.errors &&	
            form.controls.rpassword.errors.required
          ">
          Debes ingresar una contraseña válida.
        </ion-label>
        <ion-label class="error"
          *ngIf="
            (form.controls.rpassword.touched || saveRequest) &&
            form.controls.rpassword.errors &&	
            !form.controls.rpassword.errors.required &&
            form.controls.rpassword.errors.equalTo
          ">
          Las contraseñas deben coincidir.
        </ion-label>
      </ion-item>
    </form>

    <p class="form-error" *ngIf="formError">
      {{ formError }}
    </p>
  </div>
</ion-content>

<ion-footer>
  <div class="action-wrapper">
    <button ion-button
      class="outline" 
      (click)="close()" 
      [ngClass]="{'secondary': !isAgent}">
      Cancelar
    </button>

    <button ion-button 
      (click)="save()" 
      [color]="isAgent? 'bondingPrimary' : 'bondingSecondary'">
      Guardar
    </button>
  </div>
</ion-footer>
