change-password {
  ion-item {
    position: relative;

    .item-inner {
      padding-bottom: 15px;

      .error {
        margin: 0;
        padding: 0;
        color: #cc0000!important;
        font-size: 1.2rem;
        position: absolute;
        bottom: -3px;
      }
    }
  } 
  
  .form-error {
    color: #fff;
    background-color: #cc0000;
    text-align: left;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }

  ion-footer {
    .action-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
  
      button {
        width: 150px;
        margin: 0;
  
        &.outline {
          margin: 0 15px 0 0;
          background-color: transparent !important;
          color: color($colors, bondingPrimary);
          border: 2px solid color($colors, bondingPrimary);
    
          &.secondary {
            color: color($colors, bondingSecondary);
            border: 2px solid color($colors, bondingSecondary);
          }
        }
      }
    }
  }
}
